@use "../../../styles/global.scss" as *;

@mixin chevronIcon($rotate) {
  position: absolute;
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  top: 0.2rem;
  right: -0.875rem;
  transform: rotate($rotate);
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 44% 94%, 88% 50%, 43% 6%);
  background-color: #000000;
}

.menuItem {
  position: relative;
  cursor: pointer;
  font-weight: var(--font-medium);
  color: #000000;

  &:not(:last-child) {
    margin-right: 2rem;
    padding-right: 1rem;
  }

  span {
    position: relative;
  }

  &:not(:last-child) span::after {
    @include chevronIcon(90deg);
  }

  @include respond(tab) {
    &:not(:last-child) {
      margin-right: initial;
      border-bottom: var(--border-line-light);
    }
    padding: 0.8rem 0;
  }

  &__submenu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 11rem;
    top: 100%;
    left: 0;
    list-style: none;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    margin: 0;
    transition: visibility 0.2s ease, opacity 0.2s ease;

    @include respond(tab) {
      width: 9rem;
      top: 0;
      left: initial;
      right: 0;
      z-index: 10;
    }

    &__menuItem {
      position: relative;
      font-size: 0.8125rem;
      font-weight: var(--font-regular);
      padding-top: 0.3rem;
      transition: all 0.2s;
    }
    &__menuItem:not(:last-child) {
      border-bottom: var(--border-line-light);
      padding-bottom: 0.3rem;
    }
    &__menuItem::after {
      @include chevronIcon(0);
      top: 0.6rem;
    }

    &__menuItem:hover {
      color: #969696;
    }

    &__menuItem span {
      display: inline-block;
      transition: transform 0.2s ease-in-out;
    }

    &__menuItem span::after {
      display: none;
    }

    &__menuItem:hover span {
      transform: translateX(0.7rem);
    }
  }

  &:hover > &__submenu {
    opacity: 1;
    visibility: initial;
  }
}
